#details {
  width: 100%;
  text-align: center;
  background: black;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  right: 0;
  bottom: 0;

  margin: 0;
}

#details p {
  display: inline;
  font-size: 18px;
  color: white;
}

ul.icons {
  list-style: none;
}

ul.icons li {
  display: inline;
  font-size: 1em;
  padding: 10px;
}

ul.icons li span {
  margin: 20px;
}

ul.icons li a {
  color: white;
}

ul.icons li a:before {
  display: inline;

  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.email {
  margin-top: 30px;
}
.footerdetails {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footerdetails ul li {
  list-style: none;
}
@media (max-width: 852px) {
  .footerdetails {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
